<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 style="margin-top: 10px; text-align: center">Booking Details</h1>
    <div style="text-align: center">
      <div>Hi <%= booking.name %> ! Your Booking is confirmed</div>
      <div>Location: <%= booking.package.location %></div>
      <div><%= booking.package.spe_location %></div>
      <div>Rs Paid: <%= booking.package.amount %></div>
      <div>Booking Date: <%= booking.package.createdAt %></div>
      <div> Tour Started Date: <%= booking.package.createdAt %></div>
    </div>
  </body>
</html>
